body{
  margin: 10px;
  font-family: 'Rubik', sans-serif;
  font-size: 100px;
  background-color: gray;
}
.app{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: auto;
  align-items: left;
  justify-content: center;
  width: 800px;
  border: black;
}
.inputClass{
  margin-bottom: 50px;

}
input{
  width: 850px;
  font-size: 100px;
  border-radius: 15px;
}